<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleExecutable</key>
  <string>darkplaces-sdl</string>
  <key>CFBundleIdentifier</key>
  <string>org.xonotic.darkplaces</string>
  <key>CFBundleName</key>
  <string>DarkPlaces</string>
  <key>CFBundleDisplayName</key>
  <string>DarkPlaces</string>
  <key>CFBundleIconFile</key>
  <string>Darkplaces</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0.0</string>
  <key>CFBundleVersion</key>
  <string>1.0</string>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.action-games</string>
  <key>LSMinimumSystemVersion</key>
  <string>11.0</string>
</dict>
</plist>
